@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

*{
	font-family: 'Bebas Neue', cursive;
	padding: 0%;
	margin: 0%;
}
body{
	/* background-image: url(./02.jpg);
	background-position: contain; */
	background-image: linear-gradient(-225deg, #E3FDF5 0%, #FFE6FA 100%);
	background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
	background-attachment: fixed;
	  background-repeat: no-repeat;
	
		font-family: 'Vibur', cursive;
	/*   the main font */
		font-family: 'Abel', sans-serif;
	opacity: .95;
	/* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */
}


#pantalla-container{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

#pantalla{
	position: inherit;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	width: 1900px;
	height: 1000px;
	padding-top: 150px;
	padding-right: 100px;
}


#Buscador{
	position: relative;
	margin-left: 620%;
	margin-top: 100px;
}

.name_pokemon{
	padding: 15px;
}

.cartas{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	margin: 10px 10px;
	width: 220px;
	height: 320px;
	min-height: 300px;
	border: 10px solid rgb(219, 216, 38);
	border-radius: 10px;
  	box-shadow: 3px 3px darkgray;
  	background: white;
}

.img_pokemon{
    display: flex;
    justify-content: center;
    width: 220px;
	height: 200px;
    min-height: 130px;
    background-color: #bf360c;
}
.stats_name{
	justify-content: space-around;
}

.stats{
	justify-content: space-around;
	margin-right: 20px;
}

header{
	position: fixed;
   	top: 0;
   	left: 0;
   	width: 100%;
   	z-index: 1;
}

#navigationBar {
	background:transparent;
	box-shadow:0px 1px 10px 10px #ddd;
	height:auto;
	text-align:center;
	width:100%;
	position: sticky;  
	top: 0; 
	z-index: 1;
	background-color: white;
}

#navigationBar > ul > li {
  display:inline;
}
#navigationBar > ul > li > a {
	color:#000;
	display:inline-block;
	height:60px;
	line-height:60px;
	margin:0px;
	padding:0px 15px;
	text-decoration:none;
	transition: color 0.3s ease-in;
	position: sticky;  
	top: 0; 
	z-index: 1;
	background-color: white;
}

#navigationBar > ul > li > a:hover {
  	color:#FCD000;
	  position: sticky;  
	  top: 0; 
	  z-index: 1;
}


.cartaRotada{
	display: none;
	justify-content: center;
	text-align: center;
	align-items: center;
	margin: 10px 10px;
	width: 220px;
	height: 320px;
	min-height: 300px;
	border: 10px solid rgb(219, 216, 38);
	border-radius: 10px;
  	box-shadow: 3px 3px darkgray;
  	background: white;
}

.invisible{
	display: none;
}

/* CSS */
body {
  overflow-x: hidden;
  font-family: Sans-Serif;
  margin: 0;
}

.menu-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  background: #232323;
  color: #cdcdcd;
  padding: 20px;
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
  box-sizing: border-box;
  position: sticky;   
  top: 0; 
  z-index: 1;
}

.menu-logo {
  line-height: 0;
  margin: 0 20px;
}

.menu-logo img {
  max-height: 40px;
  max-width: 100px;
  flex-shrink: 0;
}

.menu-container a {
  text-decoration: none;
  color: #232323;
  transition: color 0.3s ease;
}

.menu-container a:hover {
  color: #cfd432;
}

.menu-container input {
  display: block;
  width: 35px;
  height: 25px;
  margin: 0;
  position: absolute;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

/* Burger menu */
.menu-container span {
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  background: #cdcdcd;
  border-radius: 3px;
  z-index: 1;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
	  opacity 0.55s ease;
}

.menu-container span:first-child {
  transform-origin: 0% 0%;
}

.menu-container span:nth-child(3) {
  transform-origin: 0% 100%;
}

.menu-container input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(3px,-1px);
  background: #232323;
}

.menu-container input:checked ~ span:nth-child(4) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

.menu-container input:checked ~ span:nth-child(3) {
  transform: rotate(-45deg) translate(-5px,11px);
}

.menu ul {
  list-style: none;
}

.menu li {
  padding: 10px 0;
  font-size: 22px;
}

/* mobile styles */
@media only screen and (max-width: 767px) { 
	.menu-container {
    	flex-direction: column;
    	align-items: flex-end;
  	}
  
  	.menu-logo {
    	position: absolute;
    	left: 0;
    	top: 50%;
    	transform: translateY(-50%);
  	}

  	.menu-logo img {
    	max-height: 30px;
  	}

  	.menu {
    	position: absolute;
    	box-sizing: border-box;
		width: 300px;
		right: -300px;
		top: 0;
		margin: -20px;
		padding: 75px 50px 50px;
		background: #cdcdcd;
		-webkit-font-smoothing: antialiased;
		/* to stop flickering of text in safari */
		transform-origin: 0% 0%;
		transform: translateX(0%);
		transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
	}

	.menu-container input:checked ~ .menu {
		transform: translateX(-100%);
	}
}

	/* desktop styles */
@media only screen and (min-width: 768px) { 
	.menu-container {
		width: 100%;
	}

	.menu-container a {
		color: #cdcdcd;
	}

	.menu-container input {
		display: none;
	}

	/* Burger menu */
	.menu-container span {
		display: none;
	}

	.menu {
		position: relative;
		width: 100%;
		display: flex;
		justify-content: space-between;
	}

	.menu ul {
		display: flex;
		padding: 0;
	}

	.menu li {
		padding: 0 20px;
	}
}

/* HOME */

	/* POKEMONS DESTACADOS */

#container-pokemons-destacados-titulo{
	position: absolute;
	left: 250px;
	top: 100px;
}

#pokemons-destacados-titulo{
	display: flex;
	flex-wrap: wrap;
}

#pokemons-destacados-titulo h2{
	margin-top: 25px;
}

#container_pantalla_pokemons_destacados{
	position: absolute;
	top: 200px;
	left: 250px;
	right: 100px;
}

#pantalla_pokemons_destacados{
	display: flex;
	flex-wrap: wrap;
}

	/* NOVEDADES */

#container-novedades-titulo{
	position: absolute;
	left: 250px;
	top: 1000px;
}

#novedades-titulo{
	display: flex;
	flex-wrap: wrap;
}

#novedades-titulo h2{
	margin-top: 25px;
}

#container-novedades-parrafo{
	display: flex;
	flex-wrap: wrap;
} 

.carta-novedades{
	display: flex;
	justify-content: center;
	text-align: center;
	align-items: center;
	width: 250px;
	height: 250px;
}

	/* VIDEOS */

#container-videos-titulo{
	position: absolute;
	left: 200px;
	top: 1300px;
}
#container-videos{
	position: absolute;
	left: 200px;
	top: 1400px;
	width: 1500px;
}

#videos-titulo{
	display: flex;
	flex-wrap: wrap;
	position: relative;
	left: 50px;
}

#videos-titulo h2{
	margin-top: 25px;
}

.video{
	display: flex;
	flex-wrap: wrap;
	gap: 50px;
}

#footer-container{
	width: 100%;
	background-color: #ffffff;
	position: absolute;
	top: 2200px;
	text-align: center;
}


/* iniciar sesion */

#signup{
    display: flex;
    justify-content: center;
    align-items: center;  
}

#pepe{
    display: flex;
    justify-content: center;
    align-items: center;  
}

.form-container, .form-container-login{
    position: absolute;
    justify-content: center;
    bottom: 200px;
}

.form-container h2, .form-container-login h2 {
    text-align: center;
}

.form-group-singup, .form-group-login {
    margin-bottom: 20px;
}

.form-group-singup label,
.form-group-login label {
    display: block;
    font-weight: bold;
}

.form-group-singup input[type="text"],
.form-group-singup input[type="password"],
.form-group-login input[type="text"],
.form-group-login input[type="password"]
{
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-container button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* prova */

.hero-container{
    display: flex;
    flex-direction: column;
	justify-content: center;
    top: 150px;
}

.hero {
  font-size: clamp(40px, 10vw, 100px);
  line-height: 1;
  display: inline-block;
  color: #fff;
  z-index: 2;
  letter-spacing: 10px;

  /* Bright things in dark environments usually cast that light, giving off a glow */
  filter: drop-shadow(0 1px 3px);
}

.demo {
  height: 100px;
  background: #fff;
}

.layers {
  position: relative;
}

.layers::before,
.layers::after {
  content: attr(data-text);
  position: absolute;
  width: 110%;
  z-index: -1;
}

.layers::before {
  top: 10px;
  left: 15px;
  color: #e0287d;
}

.layers::after {
  top: 5px;
  left: -10px;
  color: #1bc7fb;
}

.single-path {
  clip-path: polygon(
    0% 12%,
    53% 12%,
    53% 26%,
    25% 26%,
    25% 86%,
    31% 86%,
    31% 0%,
    53% 0%,
    53% 84%,
    92% 84%,
    92% 82%,
    70% 82%,
    70% 29%,
    78% 29%,
    78% 65%,
    69% 65%,
    69% 66%,
    77% 66%,
    77% 45%,
    85% 45%,
    85% 26%,
    97% 26%,
    97% 28%,
    84% 28%,
    84% 34%,
    54% 34%,
    54% 89%,
    30% 89%,
    30% 58%,
    83% 58%,
    83% 5%,
    68% 5%,
    68% 36%,
    62% 36%,
    62% 1%,
    12% 1%,
    12% 34%,
    60% 34%,
    60% 57%,
    98% 57%,
    98% 83%,
    1% 83%,
    1% 53%,
    91% 53%,
    91% 84%,
    8% 84%,
    8% 83%,
    4% 83%
  );
}

.paths {
  animation: paths 5s step-end infinite;
}

@keyframes paths {
  0% {
    clip-path: polygon(
      0% 43%,
      83% 43%,
      83% 22%,
      23% 22%,
      23% 24%,
      91% 24%,
      91% 26%,
      18% 26%,
      18% 83%,
      29% 83%,
      29% 17%,
      41% 17%,
      41% 39%,
      18% 39%,
      18% 82%,
      54% 82%,
      54% 88%,
      19% 88%,
      19% 4%,
      39% 4%,
      39% 14%,
      76% 14%,
      76% 52%,
      23% 52%,
      23% 35%,
      19% 35%,
      19% 8%,
      36% 8%,
      36% 31%,
      73% 31%,
      73% 16%,
      1% 16%,
      1% 56%,
      50% 56%,
      50% 8%
    );
  }

  5% {
    clip-path: polygon(
      0% 29%,
      44% 29%,
      44% 83%,
      94% 83%,
      94% 56%,
      11% 56%,
      11% 64%,
      94% 64%,
      94% 70%,
      88% 70%,
      88% 32%,
      18% 32%,
      18% 96%,
      10% 96%,
      10% 62%,
      9% 62%,
      9% 84%,
      68% 84%,
      68% 50%,
      52% 50%,
      52% 55%,
      35% 55%,
      35% 87%,
      25% 87%,
      25% 39%,
      15% 39%,
      15% 88%,
      52% 88%
    );
  }

  30% {
    clip-path: polygon(
      0% 53%,
      93% 53%,
      93% 62%,
      68% 62%,
      68% 37%,
      97% 37%,
      97% 89%,
      13% 89%,
      13% 45%,
      51% 45%,
      51% 88%,
      17% 88%,
      17% 54%,
      81% 54%,
      81% 75%,
      79% 75%,
      79% 76%,
      38% 76%,
      38% 28%,
      61% 28%,
      61% 12%,
      55% 12%,
      55% 62%,
      68% 62%,
      68% 51%,
      0% 51%,
      0% 92%,
      63% 92%,
      63% 4%,
      65% 4%
    );
  }

  45% {
    clip-path: polygon(
      0% 33%,
      2% 33%,
      2% 69%,
      58% 69%,
      58% 94%,
      55% 94%,
      55% 25%,
      33% 25%,
      33% 85%,
      16% 85%,
      16% 19%,
      5% 19%,
      5% 20%,
      79% 20%,
      79% 96%,
      93% 96%,
      93% 50%,
      5% 50%,
      5% 74%,
      55% 74%,
      55% 57%,
      96% 57%,
      96% 59%,
      87% 59%,
      87% 65%,
      82% 65%,
      82% 39%,
      63% 39%,
      63% 92%,
      4% 92%,
      4% 36%,
      24% 36%,
      24% 70%,
      1% 70%,
      1% 43%,
      15% 43%,
      15% 28%,
      23% 28%,
      23% 71%,
      90% 71%,
      90% 86%,
      97% 86%,
      97% 1%,
      60% 1%,
      60% 67%,
      71% 67%,
      71% 91%,
      17% 91%,
      17% 14%,
      39% 14%,
      39% 30%,
      58% 30%,
      58% 11%,
      52% 11%,
      52% 83%,
      68% 83%
    );
  }

  76% {
    clip-path: polygon(
      0% 26%,
      15% 26%,
      15% 73%,
      72% 73%,
      72% 70%,
      77% 70%,
      77% 75%,
      8% 75%,
      8% 42%,
      4% 42%,
      4% 61%,
      17% 61%,
      17% 12%,
      26% 12%,
      26% 63%,
      73% 63%,
      73% 43%,
      90% 43%,
      90% 67%,
      50% 67%,
      50% 41%,
      42% 41%,
      42% 46%,
      50% 46%,
      50% 84%,
      96% 84%,
      96% 78%,
      49% 78%,
      49% 25%,
      63% 25%,
      63% 14%
    );
  }

  90% {
    clip-path: polygon(
      0% 41%,
      13% 41%,
      13% 6%,
      87% 6%,
      87% 93%,
      10% 93%,
      10% 13%,
      89% 13%,
      89% 6%,
      3% 6%,
      3% 8%,
      16% 8%,
      16% 79%,
      0% 79%,
      0% 99%,
      92% 99%,
      92% 90%,
      5% 90%,
      5% 60%,
      0% 60%,
      0% 48%,
      89% 48%,
      89% 13%,
      80% 13%,
      80% 43%,
      95% 43%,
      95% 19%,
      80% 19%,
      80% 85%,
      38% 85%,
      38% 62%
    );
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    clip-path: none;
  }
}

.movement {
  /* Normally this position would be absolute & on the layers, set to relative here so we can see it on the div */
  position: relative;
  animation: movement 8s step-end infinite;
}

@keyframes movement {
  0% {
    top: 0px;
    left: -20px;
  }

  15% {
    top: 10px;
    left: 10px;
  }

  60% {
    top: 5px;
    left: -10px;
  }

  75% {
    top: -5px;
    left: 20px;
  }

  100% {
    top: 10px;
    left: 5px;
  }
}

.opacity {
  animation: opacity 5s step-end infinite;
}

@keyframes opacity {
  0% {
    opacity: 0.1;
  }

  5% {
    opacity: 0.7;
  }

  30% {
    opacity: 0.4;
  }

  45% {
    opacity: 0.6;
  }

  76% {
    opacity: 0.4;
  }

  90% {
    opacity: 0.8;
  }

  1%,
  7%,
  33%,
  47%,
  78%,
  93% {
    opacity: 0;
  }
}

.font {
  animation: font 7s step-end infinite;
}

@keyframes font {
  0% {
    font-weight: 100;
    color: #e0287d;
    filter: blur(3px);
  }

  20% {
    font-weight: 500;
    color: #fff;
    filter: blur(0);
  }

  50% {
    font-weight: 300;
    color: #1bc7fb;
    filter: blur(2px);
  }

  60% {
    font-weight: 700;
    color: #fff;
    filter: blur(0);
  }

  90% {
    font-weight: 500;
    color: #e0287d;
    filter: blur(6px);
  }
}

.glitch span {
  animation: paths 5s step-end infinite;
}

.glitch::before {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 8s step-end infinite, movement 10s step-end infinite;
}

.glitch::after {
  animation: paths 5s step-end infinite, opacity 5s step-end infinite,
    font 7s step-end infinite, movement 8s step-end infinite;
}

.hero-container {
  position: relative;
  text-align: center;
}

.environment {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  filter: blur(5px);
  background: url(https://images.unsplash.com/photo-1602136773736-34d445b989cb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1200&q=80)
    center no-repeat;
  background-size: cover;
}
